<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Cliente</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputText value="Espaço do cliente" 
                          style="font-family: sans-serif; align-content: center; font-weight: bolder; font-size: 200%"/>
            <p:messages id="messages" />
            <br></br>
            <br></br>
            <br></br>
            <p:dataTable id="singleDT" var="passagem" value="#{passagensReservadasBean.getReservasCliente(loginBean.cliente)}"
                         selectionMode="single" selection="#{passagensReservadasBean.passagemSelecionada}" rowKey="#{passagem.id}">
                <f:facet name="header" >
                    Suas passagens reservadas 
                </f:facet>
                <p:column headerText="Codigo">
                    <h:outputText value="#{passagem.id}" />
                </p:column>
                <p:column headerText="Origem">
                    <h:outputText value="#{passagem.viagem.origem}" />
                </p:column>
                <p:column headerText="Destino">
                    <h:outputText value="#{passagem.viagem.destino}" />
                </p:column>
                <p:column headerText="Data">
                    <h:outputText value="#{passagem.viagem.dataPartida}" >
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Hora">
                    <h:outputText value="#{passagem.viagem.horaPartida}" >
                        <f:convertDateTime pattern="HH:mm" timeZone="GMT-03:00"/>
                    </h:outputText>
                </p:column>

                <f:facet name="footer">
                    <p:commandButton value="Reservar outra passagem" action="#{reservaViagemBean.abrePaginaReservar()}"  ajax = "false"/>
                    <p:commandButton value="Cancelar Reserva" action="#{passagensReservadasBean.cancelarReserva()}" ajax = "false"/>
                    <!--<h:outputText value="Para remover uma passgem, selecione-a na tabela e clique em 'Remover'" style="font-size: 70%" />-->
                </f:facet>
            </p:dataTable>
        </h:form>
    </h:body>
</html>
