<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Reserva de Passagens</title>
    </h:head>

    <h:body>
        <p:messages id="messages" />
        <h:form>
            <p:tabMenu>
                <p:menuitem value="Reservar passagens" outcome="index" style="font-size: 90%"></p:menuitem>
                <p:menuitem value="Minhas passagens" outcome="cliente" style="font-size: 90%"></p:menuitem>
                <p:menuitem value="Logout" action="#{loginBean.efetuarLogout()}" style="font-size: 90%"></p:menuitem>
            </p:tabMenu>
        </h:form>
        <br></br>
        <br></br>
        <div>
            <h:form id = "form" >
                <h:outputText value="Selecione a viagem que deseja reservar!" 
                              style="font-family: sans-serif; align-content: center; font-weight: bolder; font-size: 200%"/>
                <br></br>
                <p:dataTable id="tabelaReserva" var="viagem"  value="#{reservaViagemBean.getViagensDisponiveis()}"  selectionMode="single" 
                             selection="#{reservaViagemBean.viagemSelecionada}" rowKey="#{viagem.id}" style="align-content: center;">
                    <f:facet name="header" >
                        Viagens Disponiveis
                    </f:facet>
                    <p:column headerText="Codigo" >
                        <h:outputText value="#{viagem.id}" />
                    </p:column>
                    <p:column headerText="Origem">
                        <h:outputText value="#{viagem.origem}" />
                    </p:column>
                    <p:column headerText="Destino">
                        <h:outputText value="#{viagem.destino}" />
                    </p:column>
                    <p:column headerText="Data">
                        <h:outputText value="#{viagem.dataPartida}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Hora">
                        <h:outputText value="#{viagem.horaPartida}" >
                            <f:convertDateTime pattern="HH:mm" timeZone="GMT-03:00"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Assentos disponiveis">
                        <h:outputText id = "assentos" value="#{viagem.assentosDisponiveis}" />
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton value="Reservar" action="#{reservaViagemBean.reservaPassagem(loginBean.getCliente())}" ajax = "false"/>
                    </f:facet>
                </p:dataTable>
            </h:form>
        </div>
    </h:body>
</html>

