<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <div align="center">
            <h:outputText value="Bem vindo!" style="font-size:400%; font-stretch: semi-expanded; font-family: monospace; align-content: center; font-weight: bold" />        
            <p:messages id="messages" />
        </div>
        <br></br><br></br>
            <p:layout style="min-width:800px;min-height:600px;">
            <p:layoutUnit position="west" resizable="false" size="450" minSize="250" maxSize="800">
                <h:outputText value="Efetuar login" style="font-size:large ; font-stretch: expanded; align-content: center"/>
                              <h:form>
                        <!--<p:messages id="messages" />-->
                        <p:panelGrid columns="2">
                            <p:outputLabel for="email" value="Email" />
                            <p:inputText id="email" value="#{loginBean.cliente.email}" />
                            <p:outputLabel for="senha" value="Senha:" />
                            <p:password id="senha" value="#{loginBean.cliente.senha}" />
                            <p:commandButton value="Login" action="#{loginBean.efetuarLogin()}" ajax="false">
                            </p:commandButton>
                        </p:panelGrid>
                    </h:form>
            </p:layoutUnit>
    
            <p:layoutUnit position="center">
                <h:outputText value="Não tem cadastro ainda? Cadastre-se!" style="font-size:large ; font-stretch: expanded; align-content: center"/>
                    <h:form>
                        <p:panelGrid columns="2">
                            <p:outputLabel for="nome" value="Nome:" />
                            <p:inputText id="nome" value="#{loginBean.cliente.nome}" />                            

                            <p:outputLabel for="datanasc" value="Data de Nascimento:" />
                            <p:calendar id="datanasc" value="#{loginBean.cliente.datanasc}" pattern="dd-MM-yyyy" mask="true" />

                            <p:outputLabel for="endereco" value="Endereço:"/>
                            <p:inputText id="endereco" value="#{loginBean.cliente.endereco}"/>

                            <p:outputLabel for="telefone" value="Telefone:" />
                            <p:inputMask id="telefone" value="#{loginBean.cliente.telefone}" mask="(99)99999-9999"/>
                        
                            <p:outputLabel for="email" value="Email:"/>
                            <p:inputText id="email" value="#{loginBean.cliente.email}"/>
                            
                            <p:outputLabel for="senha" value="Senha:"/>
                            <p:password id="senha" value="#{loginBean.cliente.senha}"/>
                            
                            <p:commandButton  value="Cadastrar" action="#{loginBean.cadastrarCliente()}" ajax="false"/>
                        </p:panelGrid>
                    </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

